---
---
@import "{{ site.theme }}";

body {
  background-color: #000000;
}

body, h1, h2, h3, h4, h5, h6 {
	color: #C9C9C9;
}

button,
.btn {
  background-color: #29B333;
  color: #F00000;
}

button:active,
button:focus {
  background-color: #ffffff;
  color: #000000;
}
