---
---
@import "{{ site.theme }}";

body {
  background-color: #000000;
}

button,
.btn {
  background-color: #29B333;
  color: #F00000;
}

button:active,
button:focus {
  background-color: #ffffff;
  color: #000000;
}
