<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/logos/logo_outline.png' | relative_url }}" alt="Home"> <!-- A button that takes the user back to the Home page -->
        </a>
        <h1 class="header">deadcard</h1> <!-- The title of the website -->
        <!-- <p class="header">{{ site.description | default: site.github.project_tagline }}</p> -->

        <ul>
          {% if page.url != "/about.html" %} <!-- Formatting for if the page ISN'T the about page -->
            <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
            <h4 class="header">Portfolio:</h4>
          {% endif %}
          
          {% if page.url != "/about.html" %}
            <li><a href="{{ '/about.html' | relative_url }}">Character Design</a></li>
            <h4 class="header">Portfolio:</h4>
          {% endif %}
          {% if page.url != "/about.html" %}
            <li><a href="{{ '/about.html' | relative_url }}">Pixel Art</a></li>
            <h4 class="header">Portfolio:</h4>
          {% endif %}
          {% if page.url != "/about.html" %}
            <li><a href="{{ '/about.html' | relative_url }}">Game Design</a></li>
            <h4 class="header">Portfolio:</h4>
          {% endif %}

        </ul>
      </header>

      <section>
        {{ content }}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
